%h2 Sign up

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), class: 'form-horizontal', role: 'form') do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_name, :required => true, :autofocus => true
    = f.input :email, :required => true
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true

  .form-actions
    = f.button :submit, "Sign up"

= render "devise/shared/links"
