= simple_form_for(@word_list) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :good_words, input_html: { rows: 20 }
    = f.input :bad_words, input_html: { rows: 20 }

  .form-actions
    = f.button :submit
