%h1 All Word Lists

%table.table
  %tr
    %th Name
    %th User
    %th Last Update
    %th Good words
    %th Bad words
    - if permitted_to? :edit, :word_lists
      %th Actions

  - @word_lists.each do |word_list|
    %tr
      %td= link_to word_list.name, word_list
      %td= word_list.user.user_name rescue 'Unknown User'
      %td= l word_list.updated_at
      %td= truncate word_list.good_words, length: 20
      %td= truncate word_list.bad_words, length: 20
      - if permitted_to? :edit, word_list
        %td
          = link_to 'Edit', edit_word_list_path(word_list)
          = link_to 'Destroy', word_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if permitted_to? :create, :word_lists
  %p
    = link_to 'New Word list', new_word_list_path

%hr
%center
  This game has been played
  %b= @play_count
  times since 
  %b= l @play_count_since
  \.
  %br
  Last played: 
  %b= l @last_played
  \.
