%p#notice= notice

%p
  %b Name:
  = @word_list.name

%p
  %b User:
  = @word_list.user.user_name rescue 'Unknown User'

%p
  %b Good words:
  = @word_list.good_words

%p
  %b Bad words:
  = @word_list.bad_words

%p
  - if permitted_to? :edit, @word_list
    = link_to 'Edit', edit_word_list_path(@word_list)
    \|
  = link_to 'Back', word_lists_path
