@import bootstrap-sprockets
@import bootstrap
@import bootstrap/theme

body
  padding-top: 70px
  padding-bottom: 30px

.theme-dropdown .dropdown-menu
  display: block
  position: static
  margin-bottom: 20px

.theme-showcase > p > .btn
  margin: 5px 0

.mistake, .correction, .german
  display: inline

.mistake
  color: red

  b, strong
    text-decoration: underline

.correction, .german
  color: blue

body
  padding-top: 40px
  background-color: #EBEBF0
  font-family: Helvetica
  font-weight: normal

.right
  text-align: right

.center
  text-align: center

form.simple_form fieldset
  background-color: white
  border: 10px
  margin: 10px
  padding: 10px

form.simple_form label
  color: #5A5A5F
  font-weight: normal
  text-transform: uppercase

form.simple_form fieldset legend
  background-color: white
  border-bottom: none
  margin: 0 -10px 0 -10px
  padding: 0 10px 0 10px
  width: auto
