!!!
%html{lang: "de"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "#{'DEV ' if Rails.env.development? }Mr K.'s WordKiller"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      -# .navbar-inner
      .container
        .navbar-header
          %button.navbar-toggle{type: "button"}(data-target=".navbar-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: root_url } WordKiller List Manager
        %ul.nav.navbar-nav.pull-right
          - if signed_in?
            %li.dropdown{ class: @active == :user && 'active' }
              %a.dropdown-toggle(data-toggle='dropdown' href='#')
                %i.icon-user
                = current_user.user_name
                %span.caret
              %ul.dropdown-menu
                %li= link_to "<i class='icon-calendar'></i> Settings".html_safe, edit_user_registration_path(current_user)
                %li= link_to "<i class='icon-signout'></i> Log Out!".html_safe, destroy_user_session_path, method: :delete
          - else
            %li.inverse= link_to "<i class='icon-signin'></i> Log In".html_safe, new_user_session_path
        - if false
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{ class: @active == :users && 'active' }= link_to "Ritter", root_path
              - if signed_in?
                %li{ class: @active == :quests && 'active' }= link_to "Gesuche", root_path
              - else
                %li= link_to "Hilfe!", root_path

    .container
      .row
        .span12
          - if show_title?
            %h1.pagetitle= h yield(:title)
          = render 'layouts/messages'
          
          = yield
      - if false
        .footer.inline-list
          %ul
            %li= link_to "...", root_path
            %li
              %span.copyright
                &copy; 1866-2013 M. Kühnert,
                = link_to "Mr K.'s Homepage", 'http://www.mister-k.net', target: :new
